.webCard{
  width: 20%;
  justify-content: center;
  background-color: rgb(243, 236, 236);
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.12);
}
.mobCard{
  width: 80%;
  justify-content: center;
  background-color:  rgb(243, 236, 236);
  box-shadow: 5px 12px 15px rgba(0, 0, 0, 0.12);
}

h1{
  font-size: 30px;
  font-weight: 500;

}
